.article-cart{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 255, 0.2);
  margin: 20px;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  text-decoration: none;
  border-radius: 5px; 
}

.cart-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-container{
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: rgba(0, 0, 255, 0.2);
    margin: 20px;
    box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 38%);
    text-decoration: none;
    border-radius: 5px;
}

.form-cart{
  display: flex;
  flex-direction: column; 
  border-radius: 5px;
  align-items: center;
}

.cart-container img {
  width: 200px;
  height: 300px;
}
.cart-container h1{
  font-weight: bold;
}
.container-product{
  display: flex;
}
.popup{

  background-size:contain;
  background-repeat:no-repeat;
  background-position: center;
  background-image: transparent;
  
}

