* {
  margin: 0;
}
.container-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 1px solid black;
  flex-direction: row;
  background-image: url("https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}
.article-container {
  padding: 20px;
  background-color: rgba(0, 0, 255, 0.2);
  margin: 20px;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  text-decoration: none;
  border-radius: 5px; 
}


/* article:visited {
  color: black;
  font-family: arial;
  text-decoration: none;
} */

img {
  width: 400px;
  padding: 20px;
}
