* {
    margin: 0;    
}
.container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border:3px solid black;
    flex-direction:row;
  }
  article{
      padding: 20px;
      margin: 20px;
      background-color: rgba(0, 0, 255, 0.2);
      width: 90%;
      box-shadow: -1px 23px 9px rgb(0 0 0 / 35%)
    }

 img{
     width: 400px;
     padding: 20px;
 }

 