* {
  text-decoration: none;
}
a:visited {
  color: black;
}

.header {
  display: flex;
  justify-content: space-evenly;
  padding: 13px;
  background-color: #a0c4ff;
  align-items: center;
}
nav ul {
  display: flex;
  text-decoration: none;
  font-size: 20px;
}

li {
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
}
header div img {
  height: 85px;
  width: 85px;
}
h1 {
  font-size: 20px;
}
form {
  background-color: #282c34;
  width: 400px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}
::placeholder {
  color: #fff;
  opacity: 0.8;
}
button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
  text-decoration: none;
  color: inherit;
}
.header-img {
  height: 30px;
  width: 30px;
}

.user-container {
  display: flex;
  font-size: 18px;
}

.icon {
  font-size: 30px;
  padding: 10px;
  color: black;
}
