
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Handlee&family=My+Soul&family=Shadows+Into+Light&display=swap');


.App {
  text-align: center;
  background-color: #FFFFFC;
  font-family: 'Handlee', cursive;
  text-decoration: none;
  
}

footer {
  font-family: 'Handlee', cursive;
  text-align: center;
  font-size: 15px;
  background-image: url("https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}
